// Font face
@include font-face("carolyna_pro_black", "/fonts/carolyna_pro_black-webfont", $file-formats: eot woff2 woff);
@include font-face("bergamot_ornaments", "/fonts/bergamot_ornaments-webfont", $file-formats: eot woff2 woff);

// Typography
$carolyna: "carolyna_pro_black", georgia, serif;
$merriweather: "Merriweather", georgia, serif;
$icon-font: "bergamot_ornaments";

$base-font-family: $merriweather;
$heading-font-family: $carolyna;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$coral:             #CB6C50;
$mint:               #ADD8C6;
$base:             #777;
$purple:          #423448;
$brown:          #B9B09D;
$yellow:          #E7CA45;

$pale-gray: mix($base, #fff, 50%);
$pale-mint: mix($pale-gray, $mint, 50%);
$pale-coral: mix($pale-gray, $coral, 50%);

// Font Colors
$base-background-color: #fff;
$base-font-color: $base;
$action-color: $pale-coral;

$button-color: $pale-coral;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Margin
$margin: 1em;

// Padding
$padding: 1em;

// h1 - h6
$h1: modular-scale(6, $base-font-size );
$h2: modular-scale(5, $base-font-size );
$h3: modular-scale(4, $base-font-size );
$h4: modular-scale(3, $base-font-size );
$h5: modular-scale(2, $base-font-size );
$h6: modular-scale(1, $base-font-size );

// Easing
$transition-speed: .9s;
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

// Global Grid
$max-width: em(720) !global;
